<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="Connect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Shop.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="Connect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Hardware and Paints Shop Management System\POS System\POS System\Database\Shop.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="POS_System.Properties.Settings.ShopConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Shop.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
